%heading {
  font-weight: 600;

  @media only screen and (max-width: $bp-small) {
    font-weight: bolder;
  }
}

.heading--3 {
  @extend %heading;
  color: $color-black;
  font-size: 3rem;
  font-family: "DM Sans", sans-serif;

  span {
    color: $bg-purple-dark;
    font-style: italic;
  }
  &__light {
    color: $bg-white;
    margin-left: 0.5rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 3.5rem;
  }
}

.heading--2 {
  @extend %heading;
  color: $bg-white;
  font-size: 4rem;
  font-family: "DM Sans", sans-serif;

  .times {
    color: $bg-yellow-dark;
  }

  .italic {
    font-style: italic;
  }

  &__dark {
    color: $color-black;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 5.5rem;
  }
}

.para {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;

  @media only screen and (max-width: $bp-small) {
    // font-weight: 800;
    font-size: 2.5rem;
    word-spacing: 0.5rem;
  }

  &-white {
    color: $bg-white;

    @media only screen and (max-width: $bp-small) {
      font-weight: 800;
    }
  }

  &-pad {
    padding-right: 5rem;

    @media only screen and (max-width: $bp-small) {
      padding: 0;
    }
  }

  &__dark {
    @media only screen and (max-width: $bp-small) {
      font-weight: 700;
    }
  }
}
